<div class="header">
    <div class="container">
        <a href="#">
            <div class="logo col-1">
                <h1>SortMall</h1>
            </div>
        </a>
        <div class="search-wrap col-gap">
            <div class="search-box clearfix">
                <input type="text" class="search-input" placeholder="请输入商品名称进行搜索">
                <a href="javascript:;" class="search-btn">搜索</a>
                <ul class="search-layer">
                    <!-- <li class="search-item">衣服</li> -->
                </ul>
            </div>
            <ul class="nav-list">
                <li class="nav-item">
                    <a href="#" class="active">首页</a>
                </li>
                <li class="nav-item">
                    <a href="#">全部商品</a>
                </li>
                <li class="nav-item">
                    <a href="#">热卖商品</a>
                </li>
            </ul>
        </div>
    </div>
</div>